

$primary: #00579c;
$secondary: #004379;
$primaryLight: #1b87c8;
$primaryActive: #1b87c8;
$bgSecondary: #efefef;
$bgPrimary: #fff;
$bgDull: #888;

$textPrimary: #31313f;
$textContrast: #fff;

$bgInput: #efefef;
$shadow: #ccc;